:root {
  --site-width: calc(1920px - 16px);
}

body {
  background-image: linear-gradient(to bottom, #BAE7FF 0%, #fff 50%, #9254DE 100%);
  background-repeat: no-repeat;
  background-size: var(--site-width) auto;

  /* 임시 */
  min-height: 20500px;
}

.site-wrap {
  position: relative;
  width: var(--site-width);
  z-index: 0;
}

.hexagon {
  position: absolute;
  z-index: -1;
}

.site-wrap .hexagon-1 {
  top: 100px;
  left: 100px;
}

.txt_1_1 {
  border: 1px solid red;
  width: 500px;
  margin: 0 400px;
}

.bn_1_1{
  border:1px solid blue;
  width: 500px;
  margin-left: auto;
  margin-right: 100px;

}
/* https://site8.blog.oa.gg/pf/insideout/#anchor2 */

/*
body {
  height: 500vh;
}

.hd-bg-img-1>img:first-child {
  position: relative;
}

.hd-bg-img-1>img:last-child {
  position: absolute;
  z-index: 1;
  top: 0;
}

.hd-text {
  width: 400px;
  z-index: 2;
  position: absolute;
  top: 700px;
  left: 400px;
}
*/