:root {
  --site-width: calc(1920px - 16px);
}

html {
  overflow-x: hidden;
}

body {
  background-image: linear-gradient(to bottom, #BAE7FF 0%, #fff 50%, #9254DE 100%);
  background-repeat: no-repeat;
  background-size: var(--site-width) auto;
  overflow-x: hidden;
  /* 임시 */
  min-height: 20500px;
}

.site-wrap {
  position: relative;
  width: var(--site-width);
  z-index: 0;
}

.hexagon {
  position: absolute;
  z-index: -1;
}

.site-wrap .hexagon-1 {
  top: 100px;
  left: 100px;
}

.txt_1_1 {
  border: 1px solid red;
  position: absolute;
  width: 800px;
  margin: 0 300px;
  margin-top: -100px;
}

.bn_1_1 {
  border: 1px solid blue;
  width: 600px;
  position: absolute;
  left: auto;
  right: 0;
  margin-right: 150px;
  bottom: 0;
  margin-top: 300px;
  top: 0;
}

.txt_1_2 {
  border: 1px solid purple;
  width: 1100px;
  margin: 180px 100px;
}

.txt_2_1 {
  border: 1px solid black;
  width: 1500px;
  margin-left: auto;
  margin-right: auto;
}

.txt_2_2 {
  border: 1px solid darkblue;
  width: 1700px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 120px;
}

.section-3 {
  border: 10px solid red;
  width: 100%;
  height: 1150px;
  position: relative;
}

.txt_3_1 {
  border: 1px solid yellow;
  width: 400px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 120px;
}

.txt_3_2 {
  border: 1px solid orange;
  width: 1150px;
  margin-left: 130px;
  margin-top: 30px;
}

.bn_2_1 {
  border: 1px solid darkcyan;
  width: 450px;
  position: absolute;
  top: 195px;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: 130px;
}

.txt_3_3 {
  border: 1px solid darkviolet;
  width: 520px;
  margin-left: 130px;
  margin-top: 30px;
}

.txt_3_4 {
  border: 1px solid deeppink;
  width: 500px;
  margin-left: 750px;
  position: absolute;
  bottom: 7px;
}

.section-6>div {
  border: 2px solid red;
  margin-top: 120px;
}

.section-6>div>img {
  width: 97%;
  margin-left: auto;
  margin-right: auto;
}

.section-4 {
  position: relative;
  height: 2860px;
  border:10px solid gold;
}

.bn_3_1 {
  border: 2px solid white;
  margin-top: 120px;
}

.txt_4_1{
  border: 1px solid blue;
  width: 300px;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  margin-top: 120px;
}

.bn_4_1{
  border: 1px solid brown;
  width: 600px;
  top:1250px;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: 120px;
  bottom: 4700px;
  position: absolute;
}

.bn_4_2{
  border:1px solid coral;
  width: 1200px;
  margin-top: 100px;
  margin-left: 120px;
}

.section-5_1 {
  position:relative;
  height: :1000px;
  border:5px solid red;
}

.bn_5_1{
  width: 450px;
  margin-left: 120px;
  margin-top: 120px;
}

.bn_5_2{
  width: 1130px;
  margin-top: 120px;
}

.bn_5_3{
  width: 900px;
  margin-left: 120px;
  margin-top: 250px;
}

.bn_5_4{
  border: 10px solid;
  width: 500px;
  top:-150px;
  left: 0;
  margin-left: 1300px;
  position: absolute;
  margin-bottom: 2200px;
}

.section-7 {
  margin-top:120px;
  display: flex;
}

.section-7 > div {
  border:10px solid violet;
}

.section-7 > div > img {
  width: 85%;
  display: block;
}

.section-7 > div:nth-child(1) > img {
  margin-left: auto;
  margin-top:100px;
}

.section-7 > div:nth-child(2) > img {
  margin: 0 auto;
}

.section-7 > div:nth-child(3) > img {
  margin-right: auto;
  margin-top:100px;
}

.section-8 {
  margin-top:120px;
  display: flex;
}

.section-8 > div {
border:10px solid blue;
}

.section-8 > div:last-child {
  margin-top: 200px;
}

.section-9 {
  margin-top:120px;
  border: 10px solid salmon;
  width: 1780px;
  margin-left: auto;
  margin-right: auto;
}

.section-9 > div:nth-child(2) {
  margin-top: 120px;
}

.section-10 {
  margin-top: 120px;
  position: relative;
  height: 1550px;
  border:10px solid gold;
}

.section-10 > div:first-child {
  border:5px solid blue;
}

.section-10 div:first-child > img {
  width: 65%;
  margin-left: auto;
  margin-right: 100px;
}

.section-10 > div:last-child {
  border:5px solid red;
}

.section-10 > div:last-child > img {
  position:absolute;
  top:400px;
  left:100px;
  width: 82%;
}

.section-11 {
  margin-top: 120px;
}

.section-11 > div:first-child > img {
  width: 29%;
  margin: 0 auto;
}

.section-11 > div:last-child > img {
  width: 37%;
  margin-left: auto;
  margin-right: 150px;
}